/*:root {
    --body-bkg-dark: rgb(26, 26, 26);
    --main-bkg-dark: rgb(63, 63, 63);
    --start-btn-dark: rgb(134, 253, 150);
    --nav-title-text-dark: rgb(134, 253, 150);
    --O-color: rgb(255, 255, 255);
    
}*/

:root {
    --body-bkg: rgb(233, 233, 233);
    --main-bkg: rgb(224, 224, 224);
    --nav-title-text: rgb(36, 36, 36);
    --start-btn: rgb(121, 165, 131);
    --cell-bkg: rgb(199, 199, 199);
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bkg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

                                    /* Nav Bar */

header {
    box-sizing: border-box;
    padding: 10px;
    
}

.navBar {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    float: none;
    max-width: 70%;
}

.navBar h1 {
    color: var(--nav-title-text);
    font-size: 48px;
    font-weight: 600;
}

                                    /* Overlay */

#overlay-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(5px);
    
}

#overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--start-btn);
    padding: 20px;
    border-radius: 5px;
    color: var(--body-bkg);
    font-size: 24px;
    cursor: pointer;
    
}


                                    /* Game Layout */

main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bkg);
}

#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#start-screen .playBtn {
    padding: 20px 40px;
    font-size: 24px;
    background-color: var(--start-btn);
    color: var(--main-bkg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gameContainer {
    text-align: center;
    
}

#game-container {
    display: none;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    margin-bottom: 20px;

}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 75px;
    cursor: pointer;
    background-color:var(--cell-bkg) ;
    border-radius: 1px;
}

.restartBtn {
    background-color: var(--start-btn);
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    margin: 15px;
    color: var(--main-bkg)
}





                                /* Footer Styling */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--body-bkg);
    color: var(--nav-title-text-)
}