:root {
    --body-bkg: rgb(233, 233, 233);
    --main-bkg: rgb(224, 224, 224);
    --nav-title-text: rgb(36, 36, 36);
    --start-btn: rgb(121, 165, 131);
    --start-btn-hover: rgb(103, 139, 111);
    --cell-bkg: rgb(199, 199, 199);
    --highlight-color: rgba(255, 255, 0, 0.5); 
    --turn-text-color: rgb(36, 36, 36); 
    --stats-text-color: rgb(36, 36, 36); 
}

.dark-theme {
    --body-bkg: rgb(26, 26, 26);
    --main-bkg: rgb(63, 63, 63);
    --nav-title-text: rgb(134, 253, 150);
    --start-btn: rgb(134, 253, 150);
    --start-btn-hover: rgb(100, 200, 120);
    --cell-bkg: rgb(199, 199, 199);
    --highlight-color: rgba(255, 255, 0, 0.8);
    --turn-text-color: rgb(134, 253, 150); 
    --stats-text-color: rgb(134, 253, 150); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bkg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    box-sizing: border-box;
    padding: 10px;
}

.navBar {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    float: none;
    max-width: 70%;
}

.navBar h1 {
    color: var(--nav-title-text);
    font-size: 48px;
    font-weight: 600;
}

.themeSwitchBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--start-btn);
    color: var(--main-bkg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.themeSwitchBtn:hover {
    background-color: var(--start-btn-hover);
}

.currentDifficulty {
    margin-top: 10px;
    font-size: 18px;
    color: var(--nav-title-text);
}

.difficultyOptions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.difficultyBtn {
    background-color: var(--start-btn);
    color: var(--main-bkg);
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.difficultyBtn:hover {
    background-color: var(--start-btn-hover);
}

.choiceOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(5px);
}

.choiceOverlayContent {
    position: fixed;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-bkg);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.choiceOverlayContent h2 {
    margin-bottom: 20px;
}

.btnChoices {
    display: flex;
    flex-direction: row;
}

.btnChoices .btn-style {
    background-color: var(--start-btn);
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    margin: 15px;
    color: var(--main-bkg);
    transition: background-color 0.3s ease;
}

.btnChoices .btn-style:hover {
    background-color: var(--start-btn-hover);
}

.nameOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(5px);
}

.nameOverlayContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-bkg);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.nameOverlayContent h2 {
    margin-bottom: 20px;
}

.nameOverlayContent input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center; 
}

.startGameBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--start-btn);
    color: var(--main-bkg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.startGameBtn:hover {
    background-color: var(--start-btn-hover);
}

.resultsOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(5px);
}

.resultsOverlayContent {
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--start-btn);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    color: var(--main-bkg);
}

main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bkg);
}

#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playBtn {
    padding: 20px 40px;
    font-size: 24px;
    background-color: var(--start-btn);
    color: var(--main-bkg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease; 
}

.playBtn.slide-up {
    opacity: 0;
    transform: translateY(-100%); 
}

.winner, .stats {
    color: var(--turn-text-color);
}

.gameContainer {
    text-align: center;
}

.gameContainer h3 {
    color: var(--nav-title-text);
    margin-top: 15px;
}

#game-container {
    display: none;
    animation: slideIn 0.3s ease-out;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    margin: 33px;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 75px;
    cursor: pointer;
    background-color:var(--cell-bkg) ;
    border-radius: 1px;
    transition: background-color 0.1s, transform 0.1s;
}

.cell:hover {
    background-color: var(--start-btn-hover);
    transform: scale(1.05);
}

.cell span {
    display: inline-block;
    animation: scaleUp 0.3s ease-in-out;
}

#btn-style {
    background-color: var(--start-btn);
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    margin: 15px;
    color: var(--main-bkg);
    transition: background-color 0.3s ease;
}

#btn-style:hover {
    background-color: var(--start-btn-hover);
}

.winning-cell {
    animation: highlight 1s ease-in-out infinite;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--body-bkg);
    color: var(--nav-title-text)
}


.stats {
    display: none;
    margin-top: 20px;
    font-size: 16px;
}

/* Animations */
@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes highlight {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: var(--highlight-color);
    }
    100% {
        background-color: transparent;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .cell {
        width: 60px;
        height: 60px;
        font-size: 50px;
    }
    .difficultyOptions, .navBar {
        flex-direction: column;
    }
}
